@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700|Raleway:700');

:root {
    --main-font-color: #1a1a1a;
    --main-bg-color: white;
    --main-theme-color: rgb(243, 168, 47);
    --container-width: 768px;
    --light-white: #f5f5f5;
    --light-gray: #ccc;
    --light-black: #282a39;
    --font-body-stack: "Raleway", Charcoal, sans-serif;
    --font-heading-stack: "PT Serif", serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.container {
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
}

.button {
    padding: 1rem 3.8rem;
    text-transform: uppercase;
    border: 1px solid #eee;
    outline: 0;
    opacity: .9;
    font-weight: bold;
    transition: .3s all ease;
}

.button:hover {
    opacity: 1;
    background-color: var(--light-black);
    color: white;
}

.button.button--bordered {
    border: 1px solid var(--light-black);
}

.jabquiz {
    padding: 2rem 1.4rem;
}
.jabquiz__question-box {
    text-align: center;
    padding-bottom: 1rem;
}

.jabquiz__question {
    font-family: var(--font-heading-stack);
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: .8rem 4rem;
    color: var(--main-font-color);
}

.jabquiz__tracker {
    font-family: var(--font-body-stack);
    color: var(--light-black);
    padding: 1rem;
    
}

.jabquiz__tagline {
    font-family: var(--font-body-stack);
    color: var(--light-gray);
    font-size: 1.4rem;
}

.progress {
    width: 50%;
    height: auto;
    border-radius: 4px;
    margin: 2rem auto;
    background-color: var(--light-white)
}

.progress__inner {
    height: 10px;
    width: 0%;
    background-color: var(--main-theme-color);
    border-right: solid 1px black;
}

.jabquiz__choices {
    list-style-type: none;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

.jabquiz__choice {
    min-width: 300px;
    border-radius: 4px;
    display: block;
    background: var(--light-white);
    margin: .5rem auto;
    font-family: sans-serif;
    color: var(--light-black);
    letter-spacing: 1.2px;
    font-size: .86rem;
}

.jabquiz__label {
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
}

.jabquiz__choices input {
    opacity: 0;

}
.jabquiz__choices input:checked + label {
    color: var(--main-theme-color);
}

.jabquiz__choices label i {
   /* background-image: url("checked.png");*/
    background-image: url("../images/circle-shape-outline.svg");
    background-size: 40px;
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    top: 1px;
    left: -2px;
    margin-right: 10px;
}

.jabquiz__choices input:checked + label i {
  /*background-image: url("..images/verified.svg");*/
  background-image: url("../images/verified.svg");
}

.jabquiz__footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;

}

.button {
    margin-bottom: 10px;
}

canvas {
    background: rgb(243, 168, 47);
}








